1. IDE menggunakan Google Colab
2. Data berada pada Google Drive

Program ini untuk mencari tau apakah termasuk *leakage data* atau bukan

In [ ]:
import os
from google.colab import drive

In [ ]:
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [ ]:
lokasi_file = '/content/drive/My Drive/(lama) shopee-sentiment-analysis_dataset/'
os.listdir(lokasi_file)

['sampleSubmission.csv',
 'test.csv',
 'train.csv',
 'Kaggle Page_o',
 'test_baru.csv']

In [ ]:
import pandas as pd

In [ ]:
dataset = pd.read_csv(lokasi_file + 'train.csv')
dataset

        review_id                                             review  rating
0               0  Ga disappointed neat products .. Meletot Hilsn...       1
1               1    Rdtanya replace broken glass, broken chargernya       1
2               2  Nyesel bngt dsni shopping antecedent photo mes...       1
3               3      Sent a light blue suit goods ga want a refund       1
4               4  Pendants came with dents and scratches on its ...       1
...           ...                                                ...     ...
146806     146806  Excellent product quality delivery speed is ve...       5
146807     146807                                         thanks gan       5
146808     146808   Awesome awesome quality merchandise value CP ...       5
146809     146809  Nice Packing boxes made effective price .........       5
146810     146810   Excellent product quality excellent product p...       5

[146811 rows x 3 columns]

In [ ]:
datatest = pd.read_csv(lokasi_file + 'test.csv')
datatest

       review_id                                             review
0              0                                      slow delivery
1              1               Dateng goods do not conform pesananðŸ˜”
2              2                             PSN k its 20 other DTG
3              3  I am expected that it have a frame and painted...
4              4                   The product quality is not good.
...          ...                                                ...
62913      62913  Has shipped It was the model that fits the cut...
62914      62914       Awesome awesome speed of the ship's value CP
62915      62915  but already in lebihin one of its usual size w...
62916      62916                  The product quality is excellent.
62917      62917  Excellent product quality, original product, t...

[62918 rows x 2 columns]

In [ ]:
type(dataset['review'][1])

str

In [ ]:
type(dataset['rating'][1])

numpy.int64

In [ ]:
review_set = set()

In [ ]:
for data in dataset.itertuples():
  review_set.add(data.review)

In [ ]:
bantu = 0
for data in datatest.itertuples():
  if data.review in review_set:
    bantu = bantu + 1

In [ ]:
(dataset['rating'].value_counts()/len(dataset)).sort_index()

1    0.100708
2    0.086540
3    0.244811
4    0.285163
5    0.282779
Name: rating, dtype: float64

In [ ]:
print('Prosentase data leakage: ', bantu/datatest.shape[0])

Prosentase data leakage:  0.6828411583330685

In [ ]:
if bantu/datatest.shape[0] > 0.5 :
  print('data leakage')
else :
  print('bukan')

data leakage